<header class="py-2.5 justify-between h-12 px-3 border-[#333333] border-1 flex items-center">
	<div class="flex items-center">
		<a href="/" class="flex items-center">
			<img
				src="/static/icons/lain.gif" 
				class="w-10 h-auto rounded-md object-contain saturate-150"
			/>
			<h1 class="pi66-title ml-4 text-green-700 font-bold !text-2xl">Pi66</h1>
		</a>
	</div>
	<nav class="pr-4 flex items-center text-green-700 transition-colors duration-200 text-2xl font-bold max-md:hidden gap-4">
		<a class="hover:text-green-400 transition-colors duration-200 " href="/" class="nav-link">home</a>
		<a class="hover:text-green-400 transition-colors duration-200 " href="/tools" class="nav-link">tools</a>
		<a class="hover:text-green-400 transition-colors duration-200 " href="/about" class="nav-link">more</a>
		<a class="hover:text-green-400 transition-colors duration-200 " href="/gaza" class="nav-link">gaza</a>
		<a class="hover:text-green-400 transition-colors duration-200 " href="https://git.pi66.xyz" class="nav-link">git</a>
	</nav>
</header>
