<nav class="py-2 mb-2 flex justify-around border-1 border-[#333] items-center text-green-600 transition-colors duration-200 text-xl font-bold min-md:hidden gap-4">
	<a class="hover:text-green-400 transition-colors duration-200 " href="/" class="nav-link">home</a>
	<a class="hover:text-green-400 transition-colors duration-200 " href="/tools" class="nav-link">tools</a>
	<a class="hover:text-green-400 transition-colors duration-200 " href="/about" class="nav-link">more</a>
	<a class="hover:text-green-400 transition-colors duration-200 " href="/gaza" class="nav-link">gaza</a>
	<a class="hover:text-green-400 transition-colors duration-200 " href="https://git.pi66.xyz" class="nav-link">git</a>
</nav>
