<a class="hover:text-green-400 transition-colors duration-200 " href="/" class="nav-link">Home</a>
<a class="hover:text-green-400 transition-colors duration-200 " href="https://git.pi66.xyz" class="nav-link">Repos</a>
<a class="hover:text-green-400 transition-colors duration-200 " href="/about" class="nav-link">About</a>
<a class="hover:text-green-400 transition-colors duration-200 " href="https://blogs.pi66.xyz" class="nav-link">Blogs</a>
<a class="hover:text-green-400 transition-colors duration-200 " href="/gaza" class="nav-link">Gaza</a>
