<div>
	<blockquote class="!p-0">
		<p>
		<strong class="text-xl"> {{ repo_name }} </strong>
		{% if repo_desc %}
			<br>
			{{ repo_desc }}
		{% endif %}
		<br>
		git clone <a href="https://git.pi66.xyz/{{repo_name | lower}}" > https://git.pi66.xyz/{{repo_name | lower}} </a>
		</p>
	</blockquote>

</div>

<nav class="flex gap-4 mb-4 pb-2 border-b border-[#333] text-sm">
	<a class="text-gray-400 text-green-400 font-bold" href="/{{repo_name | lower}}/log.html">Log</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/{{repo_name | lower}}/files.html">Files</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/{{repo_name | lower}}/refs.html">Refs</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/{{repo_name | lower}}/readme.html">README</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/{{repo_name | lower}}/license.html">LICENSE</a>
</nav>
